#home-title {
    background-color: #ff4c68;
    color: #fff;
}
  
.container-fluid {
    padding: 3% 15% 9%;
}
  
.navbar {
    padding: 0 0 4.5rem;
}
  
.nav-item {
    padding: 0 18px;
}
  
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

.navbar-nav {
    margin-left: auto!important;
}

.download-button {
    margin: 5% 3% 5% 0;
}  