#home-title {
    background-color: #000000;
    color: #E9E6E6;
}
  
.container-fluid {
    padding: 2.2% 15% 9%;
}
  


.download-button {
    margin: 5% 3% 5% 0;
}  
.nav-logo{
    height: 50%;
  width: 50%;
}