#testimonials {
    background-color: #e9e6e6;
    text-align: center;
    
    color: rgb(0, 0, 0);
  }
  
  
  
  #press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
  }
  
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }

